body {
  margin:0;
  padding:0;
  //font-family: 'Kaushan Script', cursive;

}

#vis {
  width: 100vw;
  height: 100vh;
  display: block;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

h1 {
  margin: auto;
  color: red;
  z-index: 10000000;
  font-size: 90px;
  font-family: 'Kaushan Script', cursive;
  @media(max-width: 800px) {
    font-size: 30px;
  }
}

#tooltip {
  visibility: visible;
  position: absolute;
  top: 10px;
  left: 40px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  //font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.hint {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;

  p {
    margin: auto;
    z-index: 10000000;
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
  }
}

