* {
  outline: none;
}

body {
  margin:0;
  padding:0;
  font-family: 'Kaushan Script', cursive;
  //background-color: pink;
  height: 200vh;
}

#vis {
  //pointer-events: none;
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: block;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

h1 {
  margin: auto;
  color: red;
  z-index: 10000000;
  font-size: 90px;
  font-family: 'Kaushan Script', cursive;
  @media(max-width: 800px) {
    font-size: 30px;
  }
}

#tooltip {
  visibility: visible;
  position: absolute;
  top: 10px;
  left: 40px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  //font-weight: bold;
  //background-color: rgba(255, 255, 255, 0.8);
}

.hint {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 40px;

  p {
    margin: auto;
    z-index: 10000000;
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
  }
}


.read-more {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  display: flex;
  width: max-content;
  top: 10px;
  right: 10px;
  cursor:pointer;
  p {
    margin: auto;
    z-index: 10000000;
    font-size: 25px;
    //font-family: 'Kaushan Script', cursive;
  }
}

.hint2 p:hover {
  border-bottom: 2px dashed red;
}

#player {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;

  img {
    width: 60px;
    margin-right: 10px;

    transition: all 1s;
  }

  #artist {
  }
}

article {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  width: 90%;
  max-width: 1000px;
  margin: 100px auto;
}



